#dash1 {
    padding-top: 8vh;
}

#header {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-text {
    color: #e3a511;
}

.c2 {
    background-color: #f8f9fa;
}

.c4 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.c5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.c6,
.c10 {
    padding: 20px;
    flex: 1;
}

.c6 {
    margin-top: 18vh;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: black;
    margin: 0 0 10px 0;
}

.brand-name {
    color: rgb(43, 135, 135);
}

.c7 {
    color: rgb(58, 55, 55);
}

.c8 {
    margin-top: 20px;
}

.c9 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: rgb(80, 131, 189);
    border: 2px solid rgb(80, 131, 189);
    text-decoration: none;
    margin: 4px;
}

.c9:hover {
    background: #3498db;
    color: #fff;
}

.c11 {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    #header {
        width: 100%;
        height: 80vh;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c5 {
        flex-direction: row;
        align-items: flex-start;
    }

    .c6,
    .c10 {
        flex: 1;
    }

    .c9 {
        margin: 3px;
    }


    .c10 {
        margin-top: 20px;
    }

    .c9 {
        margin-top: 0;
        margin-left: 20px;
    }
}


.counts-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.count-box {
    text-align: center;
    margin: 0 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.count {
    font-size: 24px;
    font-weight: bold;
}

.count-label {
    display: block;
    margin-top: 5px;
}