@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 8vh;
    background-image: linear-gradient(to right, #3485cac7 0%, black 100%)
  }

  h1{
    font-family: "Truculenta", sans-serif;
    color: rgb(207, 191, 16);
    margin-bottom: 25px;
  }

  p{
    font-family: "Barlow", sans-serif;
  }
  
  #create-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .create-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #39363640;
  }
  
  .card h2 {
    font-size: 20px;
    margin: 0;
    color: #333; 
  }
  
  .card p {
    margin: 10px 0;
    color: #e1cfcf;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
  }
  
  .delete-btn {
    background-color: rgb(229, 10, 10);
  }
  
  .read-btn {
    background-color: rgb(220, 220, 59);
  }
  
  .read-btn:hover {
    background-color: rgb(229, 229, 87);
  }
  
  .delete-btn:hover {
    background-color: red;
  }
  
  .create-button:hover {
    background-color: #45a049; 
  }